{% if page.author and site.data.authors[page.author] %}
  {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.author %}
{% endif %}

<div itemscope itemtype="http://schema.org/Person" class="profile">

  <img class="profile-photo" src="{{ author.avatar | relative_url }}" alt="{{ author.name }}">

  <h1 class="profile-name" itemprop="name">{{ author.name }}</h1>
  {% if author.employer != blank %}<p class="profile-affil">{{ author.employer }}</p>{% endif %}
  {% if author.bio != blank %}<p class="profile-title">{{ author.bio }}</p>{% endif %}
  {% if author.location != blank %}<p class="profile-loc"><i class="fas fa-fw fa-map-marker-alt"></i> {{ author.location }}</p>{% endif %}

  {% if author.cv != blank %}
    <a href="{{ author.cv | relative_url }}" class="profile-cv"><i class="fas fa-file-pdf"></i> Curriculum Vitae</a>
  {% endif %}

  {% include author-links.html %}

</div>
